body {
    background-color: #9a8c98;
    font-weight: 400;
    font-style: normal;
    color: #22223b;
}

main {
    max-width: 450px;
    padding: 30px;
    border: #4a4e69 3px solid;
    border-radius: 2%;
    background-color: #c9ada7;
    float: left;

}

h1 {
    font-size: 40px;
    text-decoration: underline;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes scroll {
 0% { transform: translateX(100%); }
 100% { transform: translateX(-100%); }
}

hr {
    border-color: #4a4e69;
}

.letter {
    max-width: 450px;
    padding: 30px;
    border: #4a4e69 3px solid;
    border-radius: 2%;
    background-color: #c9ada7;
    height: 450px;
    overflow: auto;
    scrollbar-color: #c9ada7 #4a4e69;
    float: right;
    margin: 0px;
    text-align: left;
}

button {
    font-family: "Indie Flower", cursive;
    font-size: medium;
    font-weight: bold;
    background-color: #c9ada7;
    border-color: #4a4e69;
    border-radius: 8%;
    cursor: pointer;
    border-style: solid;
}

.music {
    width: 301px;
    padding: 30px;
    border: #4a4e69 3px solid;
    border-radius: 2%;
    background-color: #f2e9e4;
    height: 450px;
    overflow: auto;
    scrollbar-color: #f2e9e4 #4a4e69;
    float: left;
    margin: 5px;
}

footer {
    height: 30px;
    width: 600px;
    overflow: hidden;
    background-color: #4a4e69;
    border: #22223b 3px solid;
    position: absolute;
    bottom: 45px;
    border-radius: 8px;
    margin-left: 29%;
}

footer p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: normal;
    text-align: center;
    animation: scroll 7s linear infinite;
}

a {
    float: right;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #4a4e69;
}