body {
    background-color: #9a8c98;
    font-weight: 400;
    font-style: normal;
    color: #22223b;
    overflow: auto;
    scrollbar-color: #9a8c98 #4a4e69;
}

.container {
    display: flex;
}

main {
    border: #4a4e69 3px solid;
    border-radius: 2%;
    background-color: #c9ada7;
    float: left;
    width: 30%;
    height: 520px;
    padding: 2%;
    overflow: scroll;
    scrollbar-color: #c9ada7 #4a4e69;
    scrollbar-width: 1px;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    margin: auto;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes scroll {
 0% { transform: translateX(100%); }
 100% { transform: translateX(-100%); }
}

hr {
    border-color: #4a4e69;
}

.letter {
    border: #4a4e69 3px solid;
    border-radius: 2%;
    background-color: #c9ada7;
    overflow: scroll;
    scrollbar-color: #c9ada7 #4a4e69;
    text-align: left;
    float: right;
    width: 30%;
    height: 520px;
    padding: 2%;
}

button {
    font-family: "Indie Flower", cursive;
    font-size: medium;
    font-weight: bold;
    background-color: transparent;
    border-color: #4a4e69;
    border-radius: 8%;
    cursor: pointer;
    border-style: solid;
}

.music {
    border: #4a4e69 3px solid;
    border-radius: 2%;
    background-color: #f2e9e4;
    overflow: scroll;
    scrollbar-color: #f2e9e4 #4a4e69;
    float: left;
    width: 30%;
    height: 520px;
    padding: 2%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

footer {
    height: 50px;
    width: 600px;
    overflow: hidden;
    background-color: #4a4e69;
    border: #22223b 3px solid;
    bottom: 45px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 1%;
}

footer p {
    line-height: normal;
    text-align: center;
    animation: scroll 7s linear infinite;
    align-self: center;
}

a {
    float: right;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #4a4e69;
}
