body {
    background-image: url(vampirebackground.jpg);
}
header {
    font-size: xx-large;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}
.typewriter {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
.top {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(109, 6, 6);
    border: solid black 4px;
    padding: 7px;
    width: 60%;
    text-align: center;
}
nav {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 40px;
    background-color: rgb(109, 6, 6);
    border: solid black 4px;
    padding: 7px;
    width: 45%;
    text-align: center;
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}
.box div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(109, 6, 6);
    padding: 7px;
    text-align: center; 
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal; 
    font-size: larger;
}

.box {
    display: flex;
}

.main-font {
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

a {
    color: black;
}

.pfp {
    border: black 4px solid;
    width: 200px;
    height: 200px;
}

.cool-border {
    border: solid black 4px;
    width: 45%;

}

.about {
    display: flex;
    width: auto;
}

.close-to-picture {
    padding-left: 3%;
    text-align: left;
}
.caption {
    text-align: left;
}

.long-text {
    background-color: rgb(74, 5, 5);
    border: solid black 4px;
    overflow: scroll;
    padding: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
}

hr {
    border: black dashed 4px;
}

.entry {
    background-color: rgb(109, 6, 6);
    border: 4px black solid;
    padding: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(74, 5, 5);
}

::-webkit-scrollbar-thumb {
  background: black;
}

.album-art {
    border: black 4px solid;
    width: 400px;
    height: 400px;   
}

.overflow-duo {
    overflow: scroll;
    height: 550px;
}

.generic-box {
    border: 4px black solid;
    background-color: rgb(109, 6, 6);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.helpie {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: rgb(109, 6, 6);
    border: solid black 4px;
    padding: 7px;
    width: 25%;
    text-align: center;
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

